/*  your css code here. If applicable */
#line{
	color:#000000;
	width:200px;
	height:2px;
	position:absolute;
	top:50%;
	left:50%;
  min-width: 200px; 
  max-width: 200px;
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
}
